.sombra{
  box-shadow: 0 6px 4px var(--colorSombra);
}
/* C O L O  R E S   P A R A   F O N D O */
.bgPrincipal{
  background-color: var(--colorPrincipal);
}
.bgSecundario{
  background-color: var(--colorSecundario);
}

/* T E X T O */
.textBold{
  font-weight: bold;
}
.textBlanco{
  color:var(--blanco)
}
.textNegro{
  color:var(--negro)
}
.textPrincipal{
  color:var(--colorPrincipal);
}
.textSecundario{
  color:var(--colorSecundario);
}
.textFondo{
  color:var(--colorFondo)
}

/* R E D O N D E A R */
.redondoArribaIzquierda{
  border-top-left-radius:10px ;
}
.redondoArribaDerecha{
  border-top-right-radius: 10px;
}
.redondoAbajoIzquierda{
  border-bottom-left-radius: 10px;
}
.redondoAbajoDerecha{
  border-bottom-right-radius: 10px;
}

/*DIFUMINAR IMAGENES*/
.difuminar-abajo{
  display: block;
  max-width: 100%;
    
    /* Máscara de degradado - se funde con el fondo */
  mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 90%,    /* Opaco en el 70% superior */
        rgba(0,0,0,0) 100%    /* Transparente en el 30% inferior */
  );
  -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0) 100%
  );
}
.difuminar{
  display: block;
  max-width: 100%;

  /* Máscara de degradado - se funde con el fondo */
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,      /* Transparente en la parte superior */
    rgba(0,0,0,1) 10%,     /* Empieza a ser opaco al 10% */
    rgba(0,0,0,1) 90%,     /* Se mantiene opaco hasta el 90% */
    rgba(0,0,0,0) 100%     /* Transparente en la parte inferior */
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 10%,
    rgba(0,0,0,1) 90%,
    rgba(0,0,0,0) 100%
  );
}