:root{
  --colorPrincipal:#1b3a2b;
  --colorTexto:#dcbd73;
  --colorFondo:#54755a;
  --colorSecundario:#d5deef;
  --blanco:#;
  --negro:#;
  --colorSombra:#acacac;
  
  --fuentePrincipal:"Lora", serif;
  --fuenteCursiva:"Great Vibes", cursive;
  --fuenteSecundaria:"Cinzel", serif;
  --fuenteTerciaria:"Playfair Display", serif;
}